.table {
    width : 90%;
    border: 1px solid black;
}
.table > * {
    display: flex;
}
.table-row {
    display: flex;
    text-align: center;
    justify-content: space-between;

}
.table-data {
    padding: 2px;
    padding-right: 5px;
    border-right: 1px solid black;
}
.table-heading {
    width: 120px;
}
.table-mark {
    width: 20px;
}